@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --default-color:hsl(200, 4%, 60%);
    --active-color:hsl(200, 70%, 56%);
    --error-color:hsl(353, 64%, 53%);
    --border-color:hsl(200, 4%, 64%);
    --text-color:hsl(200, 4%, 24%);
    --body-color:hsl(0, 0%, 100%);
    --body-font:"Montserrat", sans-serif;
    --normal-font-size:1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--text-color);
}

body{
    background-color: var(--body-color);
}

.container{
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.from{
    width: 100%;
    max-width: 340px;
}

.from-field{
    position: relative;
}

.from-input{
    width: 100%;
    border: 3px solid ;
    padding: 1.4rem 1.4rem 1.4rem 4.5rem;
    border-radius: 4rem;
    outline: none;
    font-weight: 500;
    transition: border-color .4s, box-shadow .4s;
}

.from-input::placeholder{
    color: var(--text-color);
}

.from-label{
    position: absolute;
    left: 1.5rem;
    top: -.65rem;
    background-color: var(--body-color);
    padding: 2px;
    font-size: var(--small-font-size);
    font-weight: 500;
}

.form-icon{
     height: max-content;
     font-size: 1.5rem;
     position: absolute;
     left: 1.5rem;
     top: 0;
     bottom: 0;
     margin-block: auto;
}

.from-field::after{
    content: '';
    position: absolute;
    height: 28px;
    border: 1px solid var(--border-color);
    left: 3.65rem;
    top: 0;
    bottom: 0;
    margin-block: auto;
}

.from-error{
    position: absolute;
    left: 1.5rem;
    bottom: -1.5rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--error-color);

    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.from-error i{
    font-size: 1rem;
}

.from-error span{
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.from-input:focus
.valid .from-input{
    border-color: var(--active-color) ;
    box-shadow: 0 8px 24px hsla(200 70% 68% .3) ;
}

.invalid .from-input{
    border-color: var(--error-color) ;
    box-shadow: 0 8px 24px hsla(353 64% 53% .3) ;
}

.invalid .from-error{
    opacity: 1;

}